<!DOCTYPE html>
<html>

<head>
    <title>VisionGate Alert</title>
</head>

<body style="font-family: Arial;">

    <h2 style="color: red;">
        🚨 Security Alert
    </h2>

    <p>
        Hello {{ user_name }},
    </p>

    <p>
        An unauthorized person attempted
        to access your gate using face recognition.
    </p>

    <p>
        If this was not you,
        please review your security system immediately.
    </p>

    <hr>

    <p>
        VisionGate Security System
    </p>

</body>

</html>