<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification Failed</title>
    <style>
        body {
            background:#f2f2f2;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            font-family: Arial;
        }

        .box {
            background:white;
            padding:40px;
            border-radius:20px;
            text-align:center;
            box-shadow:0 10px 30px rgba(0,0,0,0.1);
        }

        h1 {
            color:red;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>Verification Failed ❌</h1>
        <p>Invalid or expired link.</p>
    </div>
</body>
</html>